<link rel="stylesheet" href="https://use.typekit.net/phz3fce.css">
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23121126-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23121126-1');
</script>

<body>
  <header>
    <img class="cc-logo" src="/assets/images/cc-logo.png">
  </header>
